html {
	margin: 0;
	padding: 0;
	
	font:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.current {
	background-color: #B33D3F;
	color: #FFFFFF;
}

.nav-top {
	font-size: 1.25rem;
}
	