@charset "UTF-8";
/* CSS Document */
.list-group{
	list-style-type: none;
}

.list-group-item::before{
	content:""
}

.list-group-item-inline {
	display: inline-block;
}

@media only screen and (max-width: 25em) {

.list-group-item-inline {
	width: 100%;
}
	
}