---
layout: default
title: Games for sale
meta: games for sale at an affordable price whilst capturing your nostalgic moments.
bannertext: Games and Accessories for sale
showbanner: yes
---

<h1>Go forth into bit world</h1>

<div class=""
<ul class="grid">
	{% for games in site.pages %}
    	{% if games.category == "games" %}
        	<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            	<a href="{{site.baseurl}}{{games.url}}">
                <img class="pimage img-flex" src="../images/8bitbundle.jpg" alt="different games">
               </a>
               <p> #1 Bundle of all-time</p>
             </li>
            {% endif %}
           {% endfor %}
        </ul>
         <ul class="grid">
	{% for games in site.pages %}
    	{% if games.category == "console" %}
        	<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            	<a href="{{site.baseurl}}{{games.url}}">
                <img class="pimage img-flex" src="../img/N64bundle.jpg" alt="accessories">
               </a>
               <p> Console
             </li>
            {% endif %}
           {% endfor %}
         
         </ul>
          <ul class="grid">
	{% for games in site.pages %}
    	{% if games.category == "catridge" %}
        	<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            	<a href="{{site.baseurl}}{{games.url}}">
                <img class="pimage img-flex" src="../img/donk.jpg" alt="a">
               </a>
               <p> Catridge of all time</p>
             </li>
            {% endif %}
           {% endfor %}
         </ul>
         
         