---
layout: default
title: Games for sale
meta: games for sale at an affordable price whilst capturing your nostalgic moments.
bannertext: Go forth into bit world
showbanner: yes
---

<h1>Games for sale</h1>
<p> A wide selection of n64 games </p>

<ul class="grid">
	{% for games in site.pages %}
    	{% if games.category == "games" %}
        	<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            	<a href="{{site.baseurl}}{{games.url}}">
                <img src="../images/headsetps4.jpg" class="img-flex" alt="different games">
               </a>
             </li>
            {% endif %}
           {% endfor %}
         </ul>