# Accessibility Testing Report

User testing was conducted by {Sean Okai} on {April 16} between the times of {9:00am} and {2:25pm} with the following participants:

- {Anita Chantavong}
- {Elisa Koon}
- {Grant Jeffery}

## Tasks

1. {Go to carts page}
2. {Go to the checkout button on the cart page}
3. {Open the search bar tab}

---

## Individual Results & Observations

### {Anita chantavong}

- {task was completed as expected}
- {task was completed as expected}
- {She couldn't go back to top}

### {Elisa Koon}

- {task was completed as expected}
- {task was completed as expected}
- {task was completed as expected}

### {Grany Jeffery}

- {task was completed as expected}
- {Had trouble navigating to the checkout button}
- {task was completed as expected}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {had problem navigating to checkout button}


### Serious, Causes Frustration, May Hinder Completion

- {could not o back to the top of page}


### Minor, Annoying, Won’t Hinder Completion

- {minor colour inconsistency that made it difficult to differentiate}
