---
layout: default
title: Games Updates
meta: games for sale at an affordable price whilst capturing your nostalgic moments.
bannertext: N64 News
showbanner: yes
---

<h1>Games for sale</h1>

<ul>
	{% for games in site.posts %}
    <li>
    	<a href="">{{games.title}}</a>
        <p>{{games.meta}}</p>
     </li>
     {% endfor %}
</ul>


<!--
<h1 id="centrepos">Games for Sale</h1>

<div class="grid">
    {%include promo-small.html %}
    {%include promo-small.html %}
    {%include promo-small.html %}
</div>

<h1 id="centrepos">Accessories for sale</h1>
<div class="grid">
    {%include promo-small.html %}
    {%include promo-small.html %}
    {%include promo-small.html %}
</div>

-->