---
layout: default
titleAfter: Retro and Used Games for Sale!
meta: Buy back your nostalgic moments with a selection mouth watering games! 
bannertext: 8-bit.3d life
showbanner: yes
---



<h1 id="centrepos">Retro games and more for sale!!</h1>
<p id="centrepos"> lots of retro games and more for sale at a low price!!! come buy your nostalgic moments back!</p>

<div class="grid">
	{% include promo-large.html %}
</div>

<!-- Small promo-->
<div class="grid">
	<div class="img-flex">
    {% include promo-small.html title="Donkey kong Racing" desc="Race through different stages to beat the champ" image="donk.jpg" url="games/" %}
    
    
    {% include promo-small.html title="Pokemon" desc="Fight Bosses from on different stages" image="poke.jpg" url="games/" %}
    
    
    {% include promo-small.html title="Ps3 Controller" desc="Ps3 controller" image="goldcontrol.jpg" url="games/" %}
    </div>
</div>

   