---
layout: default
title: Search results
meta: games for sale at an affordable price whilst capturing your nostalgic moments.
bannertext: Search Results
showbanner: yes
---


         <ul class="grid">
	{% for games in site.pages %}
    	{% if games.category == "cdgame" %}
        	<li class="unit unit-s-1 unit-m-1-2 unit-l-1-3">
            	<a href="{{site.baseurl}}{{games.url}}">
                <img class="pimage img-flex" src="../img/N64bundle.jpg" alt="accessories">
               </a>
               <p> Console
             </li>
            {% endif %}
           {% endfor %}


hello
