# User Testing Report

User testing was conducted by {Sean okai} on {april 17} between the times of {12:00} and {12:54pm} with the following participants:

- {Jeffery Grant}
- {Elisa Koon}
- {Anita Chantavong}

## Tasks

1. {Go to checkout page}
2. {enter a search in the search field}
3. {go to the thank you page and then back to the home page}

---

## Individual Results & Observations

### {Jeffery Grant}

- {He got to the link as expected without any problems}

### {Elisa Koon}

- {She asked how to get back up page if you had missed it}
- {She was able to get to the search field and input something}
- {She got to the search results page}


### {Anita Chantavong}

- {She got to the thank you page with no problems}
- {getting back to the home was abit tricky for her}
- {colors blended resulting inn poor choice}
- {fixed it and she got to the home page}

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {color selection}
- {orientation of some photos}

### Serious, Causes Frustration, May Hinder Completion

- {Voice does not activate sometimes}

### Minor, Annoying, Won’t Hinder Completion

- {topics with different information on them}
