<nav>
    	<ul class="{{include.navclass}}">
        	<li><a href="{{site.basurl}}/index.html" class="{% if page.url == '/index.html' %}current{% endif %}">Home</a></li>
           <li><a href="{{site.basurl}}/gameforsale.html" class="{% if page.url == '/gameforsale.html' %}current{% endif %}">Games For Sale</a></li>
           <li><a href="{{site.basurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">About us</a></li>
           <li><a href="{{site.basurl}}/thank-you.html" class="{% if page.url == '/thank-you.html' %}current{% endif %}">Thank you</a></li>
       </ul>
</nav>