<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{page.title}} . {% endif %}Retro Games{% if page.titleAfter %} . {{page.titleAfter}}{% endif %}</title>
    <link href="../css/list-group.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Patua+One" rel="stylesheet">
    <link href="../css/typography.css" rel="stylesheet">
    <link href="../css/buttons.css" rel="stylesheet">
    <link href="../css/promo-small.css" rel="stylesheet">
    <link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
    <link href="../css/typography.css" rel="stylesheet">
    <link href="../css/media-object.css" rel="stylesheet">
    <link href="../css/header.css" rel="stylesheet">
    <link href="../css/footer.css" rel="stylesheet">
    <link href="../css/product-list.css" rel="stylesheet">
    <link href="../css/search-field.css" rel="stylesheet">
    <link href="http://weloveiconfonts.com/api/?family=entypo" rel="stylesheet">
    <link href="../css/grid.css" rel="stylesheet">
    <meta name="description" content="{{page.meta}}">
</head>
<body>
	 

		<header>
        	<div class="grid grid-bottom">
            <div class="unit unit-s-1 unit-m-1 unit-l-1">
            <h1 class="push-0">
            	<img class="img-flex logo" src="../img/logo.svg" alt="Joystick logo">
                </h1>
             </div>
             <nav class="unit unit-s-1 unit-m-1 unit-l-2-3">
             	<ul class="list-group giga brand-family push-0 nav">
                <li class="list-group-item list-group-item-inline">
                	<a class="{% if page.url == '/index.html' %}current{% endif %}" href="{{site.baseurl}}/">Home</a>
                </li>
                <li class="list-group-item list-group-item-inline">
          <a class="{% if page.url contains 'dinosaurs' %}current{% endif %}" href="{{site.baseurl}}/dinosaurs/">Games for sale</a>
        </li>
                </ul>
                </nav>
             
             
             
             </div>
           	
                <h1> Retro Games </h1>
                  
    
		</header>
        {% if page.showbanner %}
        <div class="banner">
        	<h2>{{page.bannertext}}</h2>
        </div>
        {% endif %}
		
				{{content}}
	
<footer>
	{% include nav.html navclass='nav-bottom' %}
    <p>© 2014 Retro games</p>
</footer>

</body>
</html>
